<p>tee</p>

<%= link_to 'create user wallet', new_wallet_path(wallet_type: 'user') %>
</br>
<%= link_to 'create team wallet', new_wallet_path(wallet_type: 'team') %>
</br>
<%= link_to 'create stock wallet', new_wallet_path(wallet_type: 'stock') %>

</br>

<%= link_to 'wallet list', wallet_index_path %>

</br>

<%= link_to 'send money', new_transaction_path %>>