<table class="table">
  <thead>
    <tr>
      <th scope='col'>Currency</th>
      <th scope='col'>Wallet type</th>
      <th scope='col'>Description</th>
      <th scope='col'>Number</th>
      <th scope='col'>Balance</th>
      <th scope='col'>Action</th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= @wallet.currency.id %></td>
    <td><%= @wallet.wallet_type_present %></td>
    <td><%= @wallet.description %></td>
    <td><%= @wallet.number %></td>
    <td><%= @wallet.balance %></td>
    <td><%= link_to 'Edit', edit_wallet_path(id: @wallet.id) %></td>
  </tr>
  </tbody>
</table>
<p class="text-center">Transaction</p>
<table class="table">
  <thead>
    <tr>
      <th scope=col>Sender Score</th>
      <th scope=col>Recipient Score</th>
      <th scope=col>Operation</th>
      <th scope=col>Amount</th>
      <th scope=col>Currency</th>
    </tr>
  </thead>
  <tbody>
    <% @wallet.all_transactions.each do |record| %>
      <% if record.sender.present? %>
        <% next if record.sender.number == @wallet.number && record.in_come? %>
      <% end %>
      <tr>
        <% if record.sender.blank? %>
          <td>From Atm</td>
        <% elsif @wallet.number == record&.sender&.number %>
          <td><%= record.sender.number %></td>
        <% else %>
          <td><%= link_to record.sender.number, wallet_path(record.sender.id) %></td>
        <% end %>
        <% if @wallet.number == record.recipient.number %>
          <td><%= record.recipient.number %></td>
        <% else %>
          <td><%= link_to record.recipient.number, wallet_path(record.recipient.id) %></td>
        <% end %>
        <td><%= record.operation.humanize %></td>
        <td><%= record.charge_transaction.amount %> </td>
        <td><%= record.charge_transaction.currency.id %></td>
      </tr>
    <% end %>
  </tbody>
</table>